@import 'nib'

a, a:link
	cursor pointer

body
	padding-top 60px
	background url('/images/background.png')

table
	tfoot, tbody
		th
			border-top 1px solid #DDD

.navbar
	min-height 80px

.navbar-brand
	text-indent -9999px
	background-image url('/images/logo.png')
	width 246px
	height 80px

.navbar-inverse
	background-color #09949b
	border-color #D6F4F5
	.navbar-brand
		color white
	.navbar-brand:hover
		color #D6F4F5
	.navbar-brand:focus
		color #D6F4F5

.jumbotron
	background-color #D6F4F5

ul.social
	list-style-type none
	li
		display inline
		height 20px
		a
			display block
			float left
			text-indent -9999px
			height 40px
			width 40px
			margin-right 10px
			padding 0

.social
	a
		background-position 50% 50%
		background-repeat no-repeat no-repeat
	a#arduino
		background-image url('/images/icons/icon_arduino.png')
	a#facebook
		background-image url('/images/icons/icon_facebook.png')
	a#google
		background-image url('/images/icons/icon_google_plus.png')
	a#twitter
		background-image url('/images/icons/icon_twitter.png')
